<html>
  <head>
    <title>Cadastrar Produtos </title>
  </head>
  <body>
      <div class="erros">
      <%if(errosValidacao){%>
        <ul>
          <%for(var i=0;i<errosValidacao.length;i++){%>
            <li><%=errosValidacao[i].msg%></li>
          <%}%>
        </ul>
      <%}%>
    </div>

    <form action="/produtos" method="post">
      <div>
        <label for="titulo">Título</label>
        <input type="text" id="titulo" value="<%=produto.titulo%>" name="titulo" placeholder="Entrar com Título">
      </div>
      <div>
        <label for="preco">Preço</label>
        <input type="text" id="preco" value="<%=produto.preco%>" name="preco" placeholder="Entrar com Preço">
      </div>
      <div>
        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="descricao" rows="8" cols="40"><%=produto.descricao%></textarea>
      </div>
      <input type="submit" value="gravar">
  </form>
  </body>
</html>
